<div class="text mb-4">
  <p>{{comment_description}}</p>
  <p class="text-muted">Created by <strong>{{user.username}}</strong> on {{format_date date_created}}</p>
</div>

<script src="/js/comment.js"></script>
